<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zencart - Admin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="css/adminHome.css">
</head>
<body>
    <div class="main">
        <div class="nav">
            <img src="images/zencart-logo-white.jpg" alt="logo" class="logo">
            <div class="search">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
                <input type="search" name="search" class="search-box" placeholder="Search for Products, Brands and More">
            </div>
            <a href="/addProduct" class="addProduct">
                <i class="fa-solid fa-plus add-icon"></i>
                <p class="add-text">Add Product</p>
            </a>
            <a href="/profile" class="profile">
                <i class="fa-regular fa-circle-user user-icon"></i>
                <p class="profile-text">Profile</p>
            </a>
            <a href="/logout" class="logout">
                <i class="fa-solid fa-arrow-right-from-bracket logout-icon"></i>
                <p class="logout-text">LogOut</p>
            </a>
        </div>
        <div class="center">
            <% productDatas.forEach((data)=>{  %>
                <div class="card">
                    <div class="image"><img src="<%= data.imagePath %>" alt="Product Image" class="productImage"></div>
                    <div class="name"><%= data.productName %></div>
                    <div class="price"> ₹ <%= data.productPrice %></div>
                    <div class="details"><%= data.productDescription %></div>
                    <div class="editordelete">
                        <button class="edit" type="submit" onclick="window.location.href='/editProduct/<%= data._id %>'">Edit</button>
                        <button class="delete" type="submit" onclick="window.location.href = '/deleteProduct/<%= data._id %>' ">Delete</button>
                    </div>
                </div>
           <% }) %>
        </div>
        <div class="footer">
            <p class="copyright-text">©2024-2124 Zencart.com</p>
        </div>
    </div>
</body>
</html>